version: "3.8"

services:
  frontend:
    image: nginx:alpine
    volumes:
      - ./frontend:/usr/share/nginx/html
    ports:
      - "80:80"

  auth-service:
    build: ./auth-service
    ports:
      - "5001:5001"

  product-service:
    build: ./product-service
    ports:
      - "5002:5002"

  payment-service:
    build: ./payment-service
    ports:
      - "5003:5003"
